@model IEnumerable<FishInABox.Models.DataModel.TANK_LOG>

@{
    ViewBag.Title = "Index";
}

<h2>Tank Log Menu</h2>
<!-- Create a button for user to return to previous screen -->
<input type="button" class='smallerClickButton'
       value="&laquo; Return to Tank Info Loader Menu" onclick="location.href='@Url.Action("TankInfoLoader", "System")'" />
<p>
    <div class="col-md-2">
        @Html.ActionLink("Create New", "Create")
    </div>
</p>
<table class="table">
    <tr>
        <!-- 1. Period ID -->
        <th>
            @Html.DisplayNameFor(model => model.MOVEMENT_PERIOD.TEXT)
        </th>
        <!-- 2. Tank ID -->
        <th>
            @Html.DisplayNameFor(model => model.TANK.ID_CODE)
        </th>
        <!-- 3. Species Record Information (to be implemented !!!)
        <th>
            @Html.DisplayNameFor(model => model.SPECIES_FK)
        </th>-->
        <!-- Temp 3. Species Description (Manually type in) (transient purpose)-->
        <th>
            @Html.DisplayNameFor(model => model.SPECIES_TEXT)
        </th>
        <!-- Temp 4. Species Other Information (Manually type in) (transient purpose)-->
        <th>
            @Html.DisplayNameFor(model => model.SPECIES_TEXT_2)
        </th>
        <!-- 4. Quantity -->
        <th>
            @Html.DisplayNameFor(model => model.QTY)
        </th>
        <!-- 5. Comment -->
        <th>
            @Html.DisplayNameFor(model => model.COMMENT)
        </th>
        <!-- 6. Stuff ID -->
        <th>
            @Html.DisplayNameFor(model => model.SYS_STUFF.ID_CODE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <!-- 1. Period ID -->
        <td>
            @Html.DisplayFor(modelItem => item.MOVEMENT_PERIOD.TEXT)
        </td>
        <!-- 2. Tank ID -->
        <td>
            @Html.DisplayFor(modelItem => item.TANK.ID_CODE)
        </td>
        <!-- 3. Species Record Information (to be implemented !!!)
        <td>
            @Html.DisplayFor(modelItem => item.SPECIES_FK)
        </td> -->
        <!-- Temp 3. Species Description (Manually type in) (transient purpose)-->
        <td>
            @Html.DisplayFor(modelItem => item.SPECIES_TEXT)
        </td>
        <!-- Temp 4. Species Other Information (Manually type in) (transient purpose)-->
        <td>
            @Html.DisplayFor(modelItem => item.SPECIES_TEXT_2)
        </td>
        <!-- 4. Quantity -->
        <td>
            @Html.DisplayFor(modelItem => item.QTY)
        </td>
        <!-- 5. Comment -->
        <td>
            @Html.DisplayFor(modelItem => item.COMMENT)
        </td>
        <!-- 6. Stuff ID -->
        <td>
            @Html.DisplayFor(modelItem => item.SYS_STUFF.ID_CODE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_PK }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_PK }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_PK })
        </td>
    </tr>
}

</table>
