@model FishInABox.Models.DataModel.MOVEMENT_PERIOD

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MOVEMENT_PERIOD</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.START_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.START_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TEXT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEXT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLOSED_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLOSED_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLOSED_FLAG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLOSED_FLAG)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_PK }) |
    @Html.ActionLink("Back to List", "Index")
</p>
