@{
    ViewData["Title"] = "Home Page";
    ViewData["Page Title"] = "Imports Management System";
}

<h2>@ViewData["Page Title"]</h2>

<div class="container">
    <div class="row">

        <p><button type="button" class="btn btn-block btn-lg"
                   onclick="location.href='@Url.Action("Shipping", "Home")'" >Shipping Registry</button></p>

        <p><button type="button" class="btn btn-block btn-lg"
                   onclick="location.href='@Url.Action("Quarantine", "Home")'" >Quarantine Registry</button></p>

        <p><button type="button" class="btn btn-block btn-lg">Tank Log Registry</button></p>

        <p><button type="button" class="btn btn-block btn-lg">Daily Montality Registry</button></p>

        <p><button type="button" class="btn btn-block btn-lg"
                    onclick="location.href='@Url.Action("Report", "Home")'">Report Registry</button></p>

        <p><button type="button" class="btn btn-block btn-lg"
                    onclick="location.href='@Url.Action("System", "Home")'" >System Registry</button></p>
    </div>
</div>