@model IEnumerable<FishInABox.Models.DataModel.MarineSpecies>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<p>
    @* <a asp-action="Create">Create New</a> *@
    <button type="button" class="btn-default btn-xs"
            onclick="location.href='@Url.Action("Create", "MarineSpecies")'">
         Create New
    </button>
</p>
<table class="table" id="Table">
    <thead>
        <tr>
            <!-- <th>@Html.DisplayNameFor(model => model.SpeciesFk)</th> -->

            <th>@Html.DisplayNameFor(model => model.Scientific)</th>
            <th>@Html.DisplayNameFor(model => model.Common)</th>
            <!--
            <th>@Html.DisplayNameFor(model => model.Text)</th>
            <th>@Html.DisplayNameFor(model => model.Flag)</th>
            <th>@Html.DisplayNameFor(model => model.ClassFkNavigation)</th> 
            <th>@Html.DisplayNameFor(model => model.FamilyFkNavigation)</th> 
            -->
            <th></th>
        </tr>
    </thead>
    <tbody>
    @* @foreach (var item in Model)
    {
        <tr>
            <!-- <td>@Html.DisplayFor(modelItem => item.SpeciesFk)</td> -->
            <td>
                @Html.DisplayFor(modelItem => item.Scientific)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Common)
            </td>
            <!--
            <td>@Html.DisplayFor(modelItem => item.Text)</td>
            <td>@Html.DisplayFor(modelItem => item.Flag)</td>
            <td>@Html.DisplayFor(modelItem => item.ClassFkNavigation.Schedule4)</td>
            <td>@Html.DisplayFor(modelItem => item.FamilyFkNavigation.Schedule3)</td>
            -->
            <td>
                <button type="button" class="btn-default btn-xs" 
                        onclick="location.href='@Url.Action("Edit", "MarineSpecies", new { id = @item.IdPk })'" >Edit</button>
                <button type="button" class="btn-default btn-xs" id="@item.IdPk"
                        onclick="location.href='@Url.Action("Detail", "MarineSpecies", new { id = @item.IdPk })'" >Details</button>
                @if (item.Flag == false)
                {
                    <button type="button" class="btn-default btn-xs"
                            onclick="location.href='@Url.Action("Delete", "MarineSpecies", new { id = @item.IdPk })'"  >Delete</button>
                }
                
                //@*
                    <a asp-action="Edit" asp-route-id="@item.IdPk">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdPk">Details</a> |
                    @if (item.Flag == false)
                    {
                        <a asp-action="Delete" asp-route-id="@item.IdPk">Delete</a>
                    }


            </td>
        </tr>
    }*@
    </tbody>
</table>

<script>

    $(document).ready(function () {


        $.ajax({
            type: "GET",
            url: "/api/MarineSpeciesAPI",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                //alert(JSON.stringify(data));
                $("#DIV").html('');
                var DIV = '';
                $.each(data, function (i, item) {



                    //var rows = "<tr>" +
                    //    //"<td id='IdPk'>" + item.idPk + "</td>" +
                    //    "<td id='Scientific'>" + item.scientific + "</td>" +
                    //    "<td id='Common'>" + item.common + "</td>" +
                    //    "</tr>";
                    //$('#Table').append(rows);

                    /*
                     https://www.w3schools.com/jsref/event_onclick.asp
                     */

                    var rows = "<tr>" +
                        //"<td id='IdPk'>" + item.idPk + "</td>" +
                        "<td id='Scientific'>" + item.scientific + "</td>" +
                        "<td id='Common'>" + item.common + "</td>" +
                        "<td> <button type='button' class='btn-default btn-xs' " +
                        " onclick= \"javascript:Edit(" + item.idPk + ")\"> Edit </button> </td>" +
                        "<td> <button type='button' class='btn-default btn-xs'>  Detail </button> </td>" +
                        "<td> <button type='button' class='btn-default btn-xs'>  Delete </button> </td>" +
                        "</tr>";
                    $('#Table').append(rows);


                }); //End of foreach Loop
                console.log(data);
            }, //End of AJAX Success function

            failure: function (data) {
                alert(data.responseText);
            }, //End of AJAX failure function
            error: function (data) {
                alert(data.responseText);
            } //End of AJAX error function

        });

    });

            /* https://stackoverflow.com/questions/8952953/calling-asp-net-mvc-action-methods-from-javascript  */
        function Edit(id) {

            $.ajax({
                url: '@Url.Action("Edit", "MarineSpecies")',
                data: { id: id }
            }).done(function () {
                //alert('Edit');
            });
        }
</script>
