@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="main">Main Menu</h1>
    
    <!--
        
    <p class="lead"></p>
    <p><a class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
     -->
</div>

<div class="row">
    <div class="col-md-3">
        <!--  <h2>Menu 1</h2>   -->
        <p>
            <!-- @Html.ActionLink("System", "Index", "System") -->
            <!-- @Html.ActionLink("Maintain Marine Class", "Index", "MARINE_CLASS") -->
            <!-- https://stackoverflow.com/questions/28471103/how-to-call-controller-from-the-button-click-in-asp-net-mvc-4  -->
            <input type="button" class='bigClickButton'
                   value="System Menu" onclick="location.href='@Url.Action("Index", "System")'" />
        </p>
        <!-- <p><a class="btn btn-default">Click Me &raquo;</a></p>     -->
        <p>
            <!-- https://stackoverflow.com/questions/28471103/how-to-call-controller-from-the-button-click-in-asp-net-mvc-4  -->
            <input type="button" class='bigClickButton'
                   value="Tank Setup Menu" onclick="location.href='@Url.Action("TankInfoLoader", "System")'" />
        </p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <p>
            <!-- https://stackoverflow.com/questions/28471103/how-to-call-controller-from-the-button-click-in-asp-net-mvc-4  -->
            <input type="button" class='bigClickButton'
                   value="Tank Info Loader" onclick="location.href='@Url.Action("index", "TANK_LOG")'" />
        </p>
        <p>
            <!-- https://stackoverflow.com/questions/28471103/how-to-call-controller-from-the-button-click-in-asp-net-mvc-4  -->
            <input type="button" class='bigClickButton'
                   value="Daily Mortality Register" onclick="location.href='@Url.Action("index", "TANK_LOG_DAILY")'" />
        </p>
    </div>
    <!--
    <div class="col-md-4">
        <h2>Menu 2</h2>
        <p></p>
        <p><a class="btn btn-default">Click Me&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Menu 3</h2>
        <p></p>
        <p><a class="btn btn-default">Click Me&raquo;</a></p>
    </div>
        -->
</div>
