@model FishInABox.Models.DataModel.MARINE_SPECIES

@{
    ViewData["Title"] = "Details";
}

@* <h2>Details</h2> *@

<div>
    <h3>Marine Species [@ViewData["Title"]]</h3>
    @* <hr /> *@
    <dl class="dl-horizontal">
        @*
        <dt>
            @Html.DisplayNameFor(model => model.SpeciesFk)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SpeciesFk)
        </dd>
        *@
        <dt>
            @Html.DisplayNameFor(model => model.ClassFkNavigation.Schedule4)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClassFkNavigation.Schedule4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Scientific)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Scientific)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Common)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Common)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>
        @*
            <dt>
                @Html.DisplayNameFor(model => model.Flag)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Flag)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.FamilyFkNavigation)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FamilyFkNavigation.Schedule3)
            </dd>
        *@
    </dl>
</div>
@*
    <div>
        <a asp-action="Edit" asp-route-id="@Model.IdPk">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
*@

    <td>
        <button type="button" class="btn-default btn-xs"
                onclick="location.href='@Url.Action("Index", "MARINE_SPECIES")'">
            Return to previous page
        </button>
        <button type="button" class="btn-default btn-xs"
                onclick="location.href='@Url.Action("Edit", "MARINE_SPECIES", new { id = @Model.IdPk })'">
            Edit
        </button>
    </td>

